<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="page-head">
    <title>inicio</title>

</th:block>


<body>
<div layout:fragment="page-content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Productos (Activos)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${countProductos}"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Clientes (Activos)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${countClientes}"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Producto mas vendido
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${producto}"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-qrcode fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pedidos Pendientes
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${countPedidoPendiente}"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- formulario -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Modificar horario</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body ">

                    <form th:action="@{/dashboard/Configuracion}" th:object="${eventos}" method="post">
                        <div class="form-group">
                            <label for="hApertura">Hora de apertura</label>
                            <input type="time" class="form-control" id="hApertura"
                                   th:field="${eventos.horaInicio}">
                        </div>
                        <div class="form-group">
                            <label for="hCierre">Hora de cierre</label>
                            <input type="time" class="form-control" id="hCierre"
                                   placeholder="" th:field="${eventos.horaCierre}">
                        </div>

                        <input type="hidden" th:field="${eventos.idEvento}">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </form>

                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Horario actual</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <th:block th:if="${eventos.idEvento != null}">
                        <h6>Hora de apertura</h6>

                        <b th:text="${#temporals.format(eventos.horaInicio,'HH:mm') }"></b>
                        <hr>
                        <h6>Hora de cierre</h6>
                        <b th:text="${#temporals.format(eventos.horaCierre,'HH:mm') }"></b>
                    </th:block>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


</div>


</body>

<th:block layout:fragment="page-scripts">

</th:block>

</html>