<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">

<th:block layout:fragment="page-head">
    <!--contenido head-->
    <title>Pedidos Listos</title>
    <META http-equiv=refresh content=20>
</th:block>

<body>

<div layout:fragment="page-content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Pedidos</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pedidos a enviar</h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Estado</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Estado</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    <th:block th:each="pedido, iterador : ${listaPedidos}">

                        <tr th:if="${iterador.index == 0 || listaPedidos.get(iterador.index -1).getVenta().getId() !=pedido.getVenta().getId()}">
                            <td colspan="4" align="center"><b th:text="${'Cliente: ' + pedido.getId_persona().getId_persona().nombre +' ' +pedido.getId_persona().getId_persona().apellido }"></b>
                                <b th:text="${'Total: $' + pedido.getVenta().getTotal()}"></b>
                                <a class="btn btn-primary btn-sm " th:href="@{/dashboard/pedidos/estado/entrega(id=${pedido.getVenta().getId()})}">
                                    Enviar
                                </a>
                            </td>
                        </tr>
                        <tr >
                            <td ><b th:text="${pedido.id_producto.nombre}"></b></td>
                            <td ><b th:text="${pedido.cantidad}"></b></td>
                            <td>
                                <span class="badge badge-success" th:text="${pedido.estadoPedidos}"></span>
                            </td>

                        </tr>

                    </th:block>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->


</div>

</body>

<th:block layout:fragment="page-scripts">
    <!--contenido script-->
    <script th:src="@{/js/dashboardJS/personas.js}"></script>
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
</th:block>
</html>