
<!-- Modal -->

<div class="modal fade" th:id="${'modalCliente'}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos del Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">

                    <form th:action="@{/agregarCliente}" method="Post" th:object="${cliente}" name="formModalCliente">
                        <div class="mb-3">
                            <label for="id_persona.nombre" class="col-form-label">
                                Ingrese su nombre:
                            </label>
                            <input type="text" class="form-control" placeholder="nombre"
                                   aria-label="Recipient's username"
                                   aria-describedby="button-addon2" name="id_persona.nombre"
                                   id="id_persona.nombre">

                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="col-form-label">
                                Ingrese su apellido:
                            </label>
                            <input type="text" class="form-control" placeholder="apellido"
                                   aria-label="Recipient's username"
                                   aria-describedby="button-addon2" name="id_persona.apellido"
                                   id="apellido">

                        </div>
                        <div class="mb-3">
                            <label for="direccion" class="col-form-label">
                                Ingrese su direccion:
                            </label>
                            <input type="text" class="form-control" placeholder="direccion"
                                   aria-label="Recipient's username"
                                   aria-describedby="button-addon2" name="direccion"
                                   id="direccion">


                        </div>

                        <div class="mb-3">
                            <label for="usuario" class="col-form-label">
                                Ingrese su usuario:
                            </label>
                            <input type="text" class="form-control" placeholder="usuario"
                                   aria-label="Recipient's username"
                                   aria-describedby="button-addon2" name="usuario"
                                   id="usuario">

                        </div>

                        <div class="mb-3">
                            <label for="password" class="col-form-label">
                                Ingrese su contraseña:
                            </label>
                            <input type="password" class="form-control" placeholder="contraseña"
                                   aria-label="Recipient's username"
                                   aria-describedby="button-addon2" name="password"
                                   id="password">

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                            </button>
                            <input type="submit" id="btnCliente" class="btn btn-primary" value="Enviar"/>
                        </div>

                    </form>


                </div>


            </div>

        </div>
    </div>
</div>
